@charset "utf-8";

html {
    background-color: lemonchiffon;
}

body {
    margin-left: auto;
    margin-right: auto;
    color: darkgrey;
    background-color: ivory;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    color:darkgoldenrod;
    background-color: ivory;
}

h1 {
    font-size: larger;
    text-align: center;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

h1, h2, h3 {
    font-family: fantasy;
    letter-spacing: normal;
}

nav.horizontalNavigation li {
    display:block;
    float:none
}

nav {
    background-color: goldenrod;
    font-size: smaller;
}

nav > ul {
    line-height: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: moccasin;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    background-color: moccasin;
    width: fit-content;
}

section#leftColumn {
    clear: left;
    float: left;
    width: 33%;
}

section#rightColumn {
    float: left;
    width: 67%;
}

body > footer {
    background-color: goldenrod;
    color: lemonchiffon;
    font: normal small-caps 0.8em/2em
         Gill Sans;
    text-align: center;
}
